header {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    background-color: rgb(100 107 82);
    position: relative;
    z-index: 10;
}
header a {
    float: left;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

header a:hover {
    color: white;
    transition: 0.5s;
}

header a.active {
    color: white;
}

.dropdown {
    position: relative;
}

.dropbtn {
    color: black;
    padding: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    min-width: 160px;
    z-index: 15;
    border: 0.75px solid;
    border-color: black;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}